<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">

    <div th:class="mypage_wrap">

        <div class="write">
            <h1>1:1 문의</h1>
        </div>


    </div>
</div>
</html>
