<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">

    <div class="write">
        <h1>My Page</h1>
    </div>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/item/new">상품 등록</a>
                </li>
                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/items">상품 관리</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/orders">구매 내역</a>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a href="/members/login">로그인</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a href="/members/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>

</div>
</html>