<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link th:href="@{/css/mypage.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">

    <div th:class="mypage_wrap">

        <div class="write">
            <h1>My Page</h1>
        </div>

        <div class="container">

            <div th:class="mpbox_wrap">

                <div th:class="mp_box" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/item/new">
                        <p>상품 등록</p>
                        <img th:class="icon_mp" th:src="@{/image/plus.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a href="/admin/items">
                        <p>상품 관리</p>
                        <img th:class="icon_mp" th:src="@{/image/manage.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="isAuthenticated()">
                    <a href="/members/modify" >
                        <p>내 정보</p>
                        <img th:class="icon_mp" th:src="@{/image/notice.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="isAnonymous()">
                    <a href="/members/login" >
                        <p>로그인</p>
                        <img th:class="icon_mp" th:src="@{/image/login.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box"  sec:authorize="isAuthenticated()">
                    <a href="/members/logout">
                        <p>로그아웃</p>
                        <img th:class="icon_mp" th:src="@{/image/logout.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box"  sec:authorize="isAuthenticated()">
                    <a href="/orders">
                        <p>주문 내역</p>
                        <img th:class="icon_mp" th:src="@{/image/list.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box"  sec:authorize="isAuthenticated()">
                    <a href="/contact">
                        <p>1 : 1 문의</p>
                        <img th:class="icon_mp" th:src="@{/image/contact.png}" alt="banner_img">
                    </a>
                </div>

                <div th:class="mp_box" sec:authorize="isAnonymous()">
                    <a href="/service">
                        <p>고객센터</p>
<!--                        <span>1588-1234</span>-->
                        <img th:class="icon_mp" th:src="@{/image/service.png}" alt="banner_img">
                    </a>
                </div>

            </div>




        </div>


    </div>



</div>
</html>
