.justify-content-end{
    padding: 10px;
}

.justify-content-center{
    padding: 10px;
}

.sb{
    margin: 0 10px;
    line-height: 1;
}

td{
    text-align: center;
}

.form-inline{
    width: 1500px;
}

.table{
    width: 1000px;
    margin: 5px auto;
}

.iForm_wrap {
    width: 1000px;
    margin: 50px auto;
}

.title{
    text-align: center;
    font-size: 2em;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.custom-select {
    width: 49.5%;
}

.h2 {
    height: 70px;
}

.input-group {
    height: 40px;
}

.input-group-text {
    background-color: #f5f5f5;
}

.lead {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.product_input {
    height: 40px;
}

.product_name {
    height: 100%;
}

.form-control {
    height: 40px;
}

.form-control-plaintext {
    height: 40px;
}

.form-control.product_text {
    height: 100%;
}

.product_detail {
    height: 150px;
}

.product_Dname {
    height: 100%;
}

.product_Dtext {
    height: 100%;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "File";
}

.btn-primary {
    width: 90px;
    height: 38px;
    background-color: #2d89eb;
}

.btn-primary2 {
    width: 100px;
    height: 38px;
    background-color: #2d89eb;
    color: white;
}

.btn-success {
    width: 100px;
    height: 45px;
    background-color: #3fbf5d;
}

.btn-danger {
    width: 90px;
    height: 38px;
    background-color: #ed4d5c;
}

/*itemDtl*/

.mgb-15{
    margin-bottom:15px;
}
.mgt-30{
    margin-top:30px;
}
.mgt-50{
    margin-top:50px;
}
.repImgDiv{
    margin-right:15px;
    height:auto;
    width:50%;
}
.repImg{
    width:100%;
    height:400px;
}
.wd50{
    height:auto;
    width:50%;
}

.dtl_wrap {
    width: 950px;
    margin: 50px auto;
}

.text-center img {
    width: 950px;
}

.quantity {
    height: 40px;
}

.badge-primary {
    background-color: #20c97b;
    padding: 7px;
}

.w-50 {
    width: 25% !important;
}

.buy {
    width: 150px;
    background-color: #e74a3b;
    border: 1px solid #b43528;
}

.buy:hover {
    background-color: #c53f31;
    border: 1px solid #b43528;
}

.text-danger {
    color: #575757 !important;
}

.addcart {
    border: 1px solid #b43528 !important;
    width: 170px;
    color: brown;
}

.addcart:hover {
    background-color: rgb(255 193 169 / 25%);
    color: brown;
}

.pay {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.price {
    margin-right: 10px;
    letter-spacing: 2px;
}

.plus {
    color: #797979;
}

.free {
    letter-spacing: 3px;
    margin-bottom: 0;
}

.item_name {
    height: 170px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.item_name_h4 {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
}

.jumbotron {
    background-color: ghostwhite;
}

.delivery-title-box {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.delivery-title {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
}

.delivery-title span {
    margin: 0 20px;
}

.delivery-title-box:hover {
    cursor: pointer;
    opacity: 0.85;
}

.down_img {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down_img img {
    width: 35%;
    height: 35%;
}

.delivery-content {
    margin-top: 50px;
}

.delivery-content h5 {
    font-weight: 600;
    margin: 20px;
}

.delivery-content h6 {
    font-weight: 600;
}

.notice_box {
    padding: 25px 20px;
    background-color: ghostwhite;
}

.form-group label {
    font-size: 1.25rem; /* 라벨의 글자 크기 증가 */
    font-weight: bold; /* 라벨을 굵게 */
}

.form-group p {
    display: block;
    padding: 10px; /* 박스 안의 여백 */
    background-color: #f8f9fa; /* 배경색 */
    border: 1px solid #ced4da; /* 테두리 */
    border-radius: 5px; /* 테두리 둥글게 */
    min-height: 40px; /* 최소 높이 */
}

.statusFilterWrapper {
    display: flex;
    justify-content: center; /* 상태 필터를 가운데로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    margin-top: 0px; /* 상단 여백 */
}

/* 상태 필터 */
.statusFilter {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #fff;
}

.statusItem {
    padding: 10px 20px;
    font-size: 18px;
    margin-right: 0px;
}

.table-text{
    text-align: center;
}

.table thead th{
    border-bottom: 2px solid #dee2e6;
    border-top: 2px solid #dee2e6;
}
