.justify-content-end{
    padding: 10px;
}
select{
    margin-right:10px;
}

.justify-content-center{
    padding: 10px;
}

.sb{
    margin: 0 10px;
    line-height: 1;
}

td{
    text-align: center;
}

.form-inline{
    width: 1500px;
    margin: 0 auto;
}

.table{
    width: 1500px;
    margin: 0 auto;
}

.iForm_wrap {
    width: 1000px;
    margin: 50px auto;
}

.title{
    text-align: center;
    font-size: 2em;
}

.custom-select{
    width: 400px;

}

.top{
    justify-content: center;
    display: flex;
    margin: 10px auto;
}
