@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NEXON Lv1 Gothic OTF';
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #333
}

a:hover {
    text-decoration: none;
    color: #525252;
    opacity: 0.9;
}

.footer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
}

footer {
    width: 1440px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: cornflowerblue;*/
}

.f_left {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_left a {
    display: flex;
    align-items: center;
}

.f_center {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.f_center p {
    color: #797979;
}

.f_center a {
    margin-top: 15px;
    margin-bottom: 20px;
}

.f_right {
    width: 33.33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.f_right h5 {
    margin-bottom: 15px;
}

.logo_img {
    width: 80px;
    height: 80px;
}

.member {
    width: 45px;
    height: 45px;
    margin-right: 5px;
}

.member_box {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.member_box a {
    display: flex;
    flex-direction: column;
}

.member_box a > p {
    margin-top: 7px;
}

.content{
    margin: 0 auto;
    height: auto;
    overflow: hidden;
}

.write{
    text-align: center;
}

.back2{
    cursor: pointer;
    height: 40px;
    width: 200px;
    text-align: center;
    margin-top: 10px;
}
.back2-1{
    cursor: pointer;
    height: 40px;

    margin-top: 10px;
}

.back2I{
    width: 35px;
}
