
form{

    margin: 20px auto;
}
.form-group{
    margin-top: 1rem;
    text-align: left;
}
.bottomB{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title{
    text-align: center;
}

.Log{
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.new{
    text-align: center;
    background: bisque;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
}
.intro{
    display: flex;
    width: 900px;
    margin: 0 auto;
}

.leftForm{
    width: 450px;
    padding: 30px;
}
.loginI{
    padding: 20px;
    height: 400px;
}
.rightForm{
    width: 450px;
    padding: 30px;
    margin: 10px auto;
}

.leftForm  >p{
    margin:0 30px;
}

.logoNm{
    text-align: center;
    padding: 30px;
    width: 400px;
    height: 130px;
    background: beige;
    margin: 30px auto;
    border-radius: 30px;

}

.modify{
    width: 500px;
    margin: 0 auto;
}
.bar{
    width: 500px;
    margin: 15px auto;
}

.new2{
    text-align: center;
    background: lavenderblush;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
}
.back{
    width: 300px;
}

label{
    display: inline-block;
    margin: 5px auto;
}
