
form{
    width: 1300px;
    margin: 20px auto;
}

.bottomB{
    width: 1300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title{
    text-align: center;
}

.Log{
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.new{
    text-align: center;
    background: bisque;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
}

.logoNm{
    text-align: center;
    padding: 30px;
    width: 350px;
    height: 130px;
    background: beige;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 40px;
}

.bar{
    width: 500px;
    margin: 15px auto;
}

.new2{
    text-align: center;
    background: lavenderblush;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 15px;
}
.back{
    width: 300px;
}

.modify {
    height: 100%;
    margin: 70px 0 110px 0;
}
