<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">

<div th:fragment="header" class="nav_bar">

  <nav class="navigation">

    <div class="nav_l">
      <img class="icon_img" th:src="@{/images/icon.png}" alt="icon">

    </div>

    <div class="nav_c">
      <ul>
        <li>
          <a>상품 등록</a>
        </li>
        <li>
          <a>상품 관리</a>
        </li>
        <li>
          <a>구매 내역</a>
        </li>
        <li>
          <a>로그인</a>
        </li>
        <li>
          <a>로그아웃</a>
        </li>
      </ul>
    </div>

    <div class="nav_r">

    <a>
      <img class="mypage_img" th:src="@{/images/mypage.png}" alt="mypage">
    </a>

    <a>
      <img class="bag_img" th:src="@{/images/bag.png}" alt="bag">
    </a>

    </div>

  </nav>

</div>

</html>